.AppHeader {
  text-align: center;
  margin: auto;
  width: 95%;
}

.Cards {
  display: flex;
  margin: 0 auto;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 10fr));
}

.Card img {
  border-radius: 5px;
}

.Card .Details {
  text-align: left;
}

.Card .Details .Title {
  font-size: medium;
}

.Card .Details .Subtitle {
  font-size: smaller;
}
